ol {
    list-style-type:none;
    padding:0;
    margin:0;
}

a {
    text-decoration:none;
    color:rgb(0, 0, 0);
}


  
  
body {
    
        
        
        
    
    margin:auto;
    
    

    height:100vh; 
    background: rgb(181, 199, 231);
    background: linear-gradient(135deg, rgb(144, 223, 223) 0%, rgb(56, 83, 99) 100%);    background-attachment:fixed;
    background-attachment: fixed;

    
    color:#fff;
}

#container {
    margin:auto;
    width:250px;
}
i{
    margin:auto;
    top: -400px;
    text-align: center;
    padding: 50px;
    
    
    
    column-width: 120px;
    z-index: -1;
   
}
#snow1{
    
    animation-name: snow1;
    position: relative;
    animation-delay: 8s;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
@keyframes snow1 {
   
    0%   { left:0px; top:0px;}
  
    100%  { left:0px; top:1000px;}
  }
  #snow2{
    
    animation-name: snow2;
    position: relative;
    animation-delay: 3s;
    animation-duration: 17s;
    animation-iteration-count: infinite;
}
@keyframes snow2 {
   
    0%   { left:0px; top:0px;}
  
    100%  { left:0px; top:1000px;}
  }
  #snow3{
    
    animation-name: snow3;
    position: relative;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes snow3 {
   
    0%   { left:0px; top:0px;}
  
    100%  { left:0px; top:1000px;}
  }
  #snow4{
    
    animation-name: snow4;
    position: relative;
    animation-delay: 5s;
    animation-duration: 13s;
    animation-iteration-count: infinite;
}
@keyframes snow4 {
   
    0%   { left:0px; top:0px;}
  
    100%  { left:0px; top:1000px;}
  }
  #snow5{
    
    animation-name: snow5;
    position: relative;
    animation-delay: 2s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes snow5 {
   
    0%   { left:0px; top:0px;}
  
    100%  { left:0px; top:1000px;}
  }
header h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size:30px;
    font-weight:700;
    letter-spacing:0.05em;

    margin:auto;
}
header h2{
    text-align: center;
    font-size:20px;
}
header {
    padding: 30px;
    border-radius: 25px;
    background-color: rgb(0, 183, 255);
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    background-position-x:240px;
    background-position-y:0;
}
@keyframes example {
    from {background-color: rgba(0, 183, 255, 0.61);}
    to {background-color: rgba(52, 91, 150, 0.582);}
  }




section {
    text-align: center;
    background:#83816aa1;
    border-radius:10px;
    padding:10px;
    margin:15px 0px 0px 0px;
}

section h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight:500;
    margin:0px 0px 8px 0px;
    font-size:22px;
}

section li {
    list-style-type: none;
    line-height: 1.3em;
    margin:4px 0px;
}
section :hover p {
    color:#1690c9a6
}
section li:hover a {
    color:#29d1dde8
}



footer {
    
    font-size:14px;
    left: 0;
  bottom: 0;
  width: 100%;
 
}

footer p a {
    text-align: center;
  
    
    margin:10px;
}

footer p:hover a {
    color:#dee2a2
}

@media only screen and (min-width:800px) {
body{
    margin: auto;
    
    max-width: 1120px;

}
    #container {
        
        width:80%;
        max-width: 800px;
    }

     
    header h1 {
        text-align: center;
        font-size:40px;
        font-weight:700;
        letter-spacing:0.05em;
    
        margin:auto;
    }
    
   header {
    padding: 50px;
   }


    main {
        
        display:flex;
    } 

    section {
        
      width:33%;
      margin:200px 15px 15px 0px;
      display:block;
    }
   section h2{
    font-size:30px;
   }
    footer p {
        
        text-align: center;
        
       
    }

    

    
}