section {
    background-color: rgb(187, 250, 255);
    padding: 6px 12px 6px 12px;
    margin-bottom: 50px;
    line-height: 2;
    width:300px;
    height: 300px;
    border-radius: 22px;
	
    border: 1px solid;
}
body {
    width:70%;
    font-family: Arial;
    color: #333;
    padding: 50px;
    line-height: 1.5em;
    margin: auto;
}
